<%- include('layouts/header') %>

<h2>Available Polls</h2>
<ul>
  <% polls.forEach(poll => { %>
  <li>
    <a href="/polls/<%= poll._id %>"><%= poll.question %></a>
  </li>
  <% }) %>
</ul>

<a href="/polls/new">Create a New Poll</a>

<%- include('layouts/footer') %>
