.movingBG {
  background-image: url(../img/vote.png);
  background-size: contain;
  background-repeat: repeat-x;
  animation: animatedBackground 20s linear alternate infinite;
  border-radius: 10px;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% { background-position: 50% 0; }
  100% { background-position: 0 0; }
}

.logout{
  position: absolute;
  top: 0; /* Adjust according to your layout */
  right: 0;
  margin-right: 30px;
}

.flyinTxtCont {
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
/* padding-bottom: 10%; */
}

.flyIn {
/* text-align: center; */
  color: #fff;
  line-height:1.5em;
  position:relative;
  text-shadow: 2px 2px 40px #000000;
}
.lineOne {
font-size: 6.875rem;
transition-delay:.2s; 
transition:.4s ease in;
animation: txtFlyIn .3s linear;
padding-top: 10%;
}
.lineTwo {
font-size: 2.5rem;
transition-delay:.4s; 
transition:.6s ease in;
animation: txtFlyIn .6s linear;
}
.lineThree {
text-align: center;
  transition-delay:2s; 
  transition:2s ease in;
  animation: fadeIn 2s linear;
  width: 100%;
  background-color:rgba(255,255,255,0.9);
  color:#000;
  max-width: 44rem;
  font-size: 2rem;
  padding: .2em .5em;
  margin-top: 30px;
}
@keyframes fadeIn{
  0% { opacity:0;}
  100% { opacity:1;}
}
@keyframes txtFlyIn{
  0% { transform:translateX(-100%); }
  100% { transform:translateX(0%); }
}

.head{
  font-size: 36px;
  font-weight: 600;
  margin: 0;
text-align: center;
padding: 30px 0px 10px 0px;
}
.cardd{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
gap: 3rem;
}
.cardBody{
padding: 1.2rem;
color: #000;
background-color: rgba(255,255,255,0.9);
border-radius: 8px;
width: 20rem;
}

.newpoll{
margin-top: 2vw;
text-align: center;
}